<div class="container">
  {{#if registered}}
    <div class="message is-success">
      <div class="message-body is-size-2">
        Thanks
        {{name}}! You're registered. Your number is
        <span class="tag is-black is-size-3">{{number}}</span>. Please write this on a Post-it note and place this
        number next to your chili.
      </div>
    </div>
  {{/if}}
  <div class="card">
    <div class="card-content">
      <h1 class="title is-size-1 block">
        Welcome to the Cypert's 4th Annual Chili Cookoff.
      </h1>

      <p class="subtitle is-size-3 block">
        Use this link to vote 
      </p>

      <a href="https://forms.gle/d56wxyd3CtBYS6Rz6" class="button is-link block" style="white-space: break-spaces; height: 3rem; margin-right: 1rem;" target="_blank">Vote here!</a>
      <a href="https://forms.gle/FsVbS4ycv5QQr9cD8" class="button is-link block" style="white-space: break-spaces; height: 3rem" target="_blank">Want to stay informed of future cookoffs? Click here!</a>
    </div>
  </div>

</div>
